.shop-item {
	display: flex;
	border-radius: $borderRadius;
	overflow: hidden;
	background-color: white;
	box-shadow: $paperShadow;

	.img {
		width: 89px;
		min-height: 89px;
		object-fit: contain;
		background-color: black;
	}
	.info-holder {
		padding: 10px;
	}
	.name {
		font-weight: bold;
		color: $primary;
	}
	.location {
		color: $textOffset;
	}
	.tags-holder {
		display: flex;
		gap: 5px;
		margin-top: 10px;
	}
	.quantity {
		color: $textOffset;
	}
}
