* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

body {
	background-image: url("./images/bg.png");
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	margin-right: 200px;
}
.title {
	font-size: 50px;
	color: tomato;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	display: none;
	transition: ease 0.3s;
	opacity: 0;
	transform: scale(0);
}
.title.active {
	opacity: 1;
	transform: scale(1);
}

.paper {
	display: flex;
	align-items: flex-start;
	display: none;
	background-color: white;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 10px;
	width: 500px;
	gap: 10px;
	transition: ease 0.3s;
	transform: translateY(-200px);
	opacity: 0;
}
.paper.active {
	display: flex;
	opacity: 1;
	transform: translateY(0);
}
.paper .img {
	width: 100px;
	height: 100px;
	flex-shrink: 0;
	border-radius: 50%;
	transition: ease 0.3s;
	transform: translateX(180px);
}
.paper .img.active {
	transform: translateX(0);
}
.paper .info {
	width: 0;
	overflow: hidden;
	transition: ease 0.3s;
}
.paper .info.active {
	width: 370px;
}
.paper .comment {
	margin-top: 10px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #666;
	line-height: 20px;
	letter-spacing: 0.2px;
}
.paper .name {
	font-weight: bold;
	letter-spacing: 0.2px;
	color: #32aae1;
}

.btn {
	border: 0;
	color: white;
	padding: 10px 20px;
	font-size: 20px;
	text-transform: uppercase;
	border-radius: 5px;
	background-color: tomato;
	cursor: pointer;
	transition: ease 0.3s;
}
.btn.hide {
	opacity: 0;
	transform: translateX(100%);
}
.btn:hover {
	background-color: rgb(158, 63, 46);
}
.btn:active {
	background-color: rgb(202, 80, 59);
}
