.header {
	padding: 10px 10px 0px;
	position: relative;
	z-index: 1;
	.holder {
		background-color: white;
		box-shadow: $paperShadow;
		border-radius: $borderRadius;
		display: flex;
		align-items: center;
		padding: 5px;
		gap: 20px;
	}
	.name {
		flex-grow: 1;
		font-size: 1.2rem;
		color: $primary;
		font-weight: bold;
	}
	.icon {
		width: 30px;
		height: 30px;
		font-size: 1.2rem;
		display: grid;
		place-items: center;
		color: $primary;
		border-radius: 50%;
	}
}
