:root {
	--transition: 0.3s;
	--circle-position: 0;
}

.nav-holder {
	background-color: white;
	border-radius: $borderRadius;
	box-shadow: $paperShadow;
	margin-top: 20px;
}

.nav {
	display: flex;
	max-width: fit-content;
	position: relative;
	margin: 0 auto;

	.item {
		height: 70px;
		width: 64px;
		text-decoration: none;
		color: $primary;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1;

		&.active {
			.icon {
				transform: translateY(-38px);
				color: white;
			}
			.text {
				transform: translateY(0px);
				opacity: 1;
			}
		}

		.icon {
			font-size: 25px;
			transition: var(--transition);
			line-height: 0;
		}

		.text {
			position: absolute;
			bottom: 10px;
			transition: var(--transition);
			opacity: 0;
			transform: translateY(10px);
		}
	}

	.circle {
		position: absolute;
		width: 64px;
		height: 64px;
		background-color: $primary;
		top: -50%;
		border: 6px solid $bgColor;
		border-radius: 50%;
		transition: var(--transition);
		transform: translateX(calc(100% * var(--circle-position)));

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: -22px;
			width: 20px;
			height: 20px;
			border-top-right-radius: 20px;
			background-color: transparent;
			box-shadow: 1px -10px 0 0 $bgColor;
		}

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: -22px;
			width: 20px;
			height: 20px;
			border-top-left-radius: 20px;
			background-color: transparent;
			box-shadow: -1px -10px 0 0 $bgColor;
		}
	}
}
